header.clear-spacing.header.navbar.navbar-fixed-top(role='banner', ng-include="'components/templates/_header.html'")
#container.clear-spacing.fixed-header(ng-class="{ 'sidebar-closed': !app.showSidebar }")
  //- #sidebar.none.sidebar-fixed(ng-include="'components/templates/_sidebar.html'", ng-show='app.showSidebar')
  #content.clear-spacing
    .container.clear-spacing
      //- .crumbs
      //-   div(ncy-breadcrumb='')
      .page-left.none
        //- button.btn.btn-info.btn-sm(type='button', ng-click="getHelp()")
        //-   | &nbsp; Help
      .page-stats.text-right.none(ng-if="!app.isStateMatch('new')")
        button.btn.btn-inverse(type='button', ng-click="app.$state.go('^.new')")
          i.fa.fa-plus
          | &nbsp; New {{app.$state.current.ncyBreadcrumb.label}}
      .page-stats.text-right.none(ng-if="app.$state.current.name.indexOf('.show') > -1")
        button.btn.btn-inverse(type='button', ng-click="doPrint()")
          i.fa.fa-print.fa-fw
          | &nbsp; Print
      | &nbsp; &nbsp;
      .page-stats.text-right.none(ng-if="app.$state.current.name.indexOf('.show') > -1")
        button.btn.btn-inverse.margin-right-10(type='button', ng-click="goBack()")
          i.fa.fa-arrow-left
          | &nbsp; Back
      .page-header.none
        .page-title
          h3(ng-bind='$state.current.data.title')
      .widget.box.table-responsive.clear-spacing.scrollable-content1.mainBody
        .widget-header.none(ng-switch='app.$state.current.url')
          h4(ng-switch-when='/:id/edit', ng-bind="'Edit #' + app.$state.params.id")
          h4(ng-switch-when='/:id', ng-bind="'#' + app.$state.params.id")
          h4(ng-switch-default='', ng-bind='app.$state.current.ncyBreadcrumb.label')
        .widget-content.no-padding.clear-spacing(ng-class="{ 'no-padding': $state.current.url === '/:id'}")
          div(ui-view='')
//- user notifications
user-notifications