#sidebar-content
	ul#nav
		//- li(ui-sref-active='current')
		//- 	a(ui-sref='dashboard')
		//- 		i.fa.fa-dashboard
		//- 		| Dashboard
		li(ui-sref-active='current', ng-show="hasPermission('careers')")
			a(ui-sref='career.index')
				i.fa.fa-university
				| Careers
		li(ui-sref-active='current', ng-show="hasPermission('candidates')")
			a(ui-sref='candidate.index')
				i.fa.fa-university
				| Candidates
		li(ui-sref-active='current', ng-show="hasPermission('issueTypes')")
			a(ui-sref='issueType.index')
				i.fa.fa-university
				| Issue Types
		li(ui-sref-active='current', ng-show="hasPermission('devices')")
			a(ui-sref='device.index')
				i.fa.fa-university
				| Device
		li(ui-sref-active='current', ng-show="hasPermission('issues')")
			a(ui-sref='issue.index')
				i.fa.fa-university
				| Issue
		li(ui-sref-active='current', ng-show="hasPermission('newservices')")
			a(ui-sref='newservice.new')
				i.fa.fa-university
				| Service
		li(ui-sref-active='current', ng-show="hasPermission('sparepartDeficitLogs')")
			a(ui-sref='sparepartDeficitLog.index')
				i.fa.fa-university
				| sparepart Deficit Logs
		li(ui-sref-active='current', ng-show="hasPermission('probabilityChangeLogs')")
			a(ui-sref='probabilityChangeLog.index')
				i.fa.fa-university
				| probability Change Logs
		li(ui-sref-active='current', ng-show="hasPermission('warrantyClaimLogs')")
			a(ui-sref='warrantyClaimLog.index')
				i.fa.fa-university
				| warranty Claim Log
		li(ui-sref-active='current', ng-show="hasPermission('vouchers')")
			a(ui-sref='voucher.index')
				i.fa.fa-university
				| vouchers
		li(ui-sref-active='current', ng-show="hasPermission('orders')")
			a(ui-sref='order.index')
				i.fa.fa-university
				| orders
		li(ui-sref-active='current', ng-show="hasPermission('paymentRequests')")
			a(ui-sref='paymentRequest.index')
				i.fa.fa-university
				| Payment Requests
		//- li(ui-sref-active='current', ng-show="hasPermission('notifications')")
		//- 	a(ui-sref='notification.index')
		//- 		i.fa.fa-bell-o
		//- 		| Notifications
		//- li
		//- 	a.btn.btn-sm.btn-danger(href="https://s3-ap-southeast-1.amazonaws.com/exec-files/pos.crx") Install POS
