div.modal-header
  h5.modal-title {{app.$state.current.ncyBreadcrumb.label}}
div.modal-body
  form.form-horizontal.row-border(name='form', novalidate='', ng-submit="process(form)")
    img(src="{{helpUrl}}" class="img-responsive")
          
div.modal-footer.text-right
  button.btn.btn-lg.btn-default(type="button", ng-click="$close('cancel')") Close