div.navbar.navbar-default.navbar-static-top
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Klikfix

      //- a.toggle-sidebar(role='button', tooltip='Toggle navigation', tooltip-placement='bottom', ng-click='app.showSidebar = !app.showSidebar')
      //-   i.fa.fa-bars
    div#navbar-main.navbar-collapse.collapse(collapse='!isCollapsed')
      ul.nav.navbar-nav.navbar-left
        li(dropdown, ng-if="hasPermissionModules(['products'])")
          a(dropdown-toggle, href="#")
            i.fa.fa-shield &nbsp;
            | Components
            b.caret
          ul.dropdown-menu
            li(ng-show="hasPermission('product')")
              a(ui-sref='product.index')
                i.fa.fa-group
                | &nbsp; Products

      ul.nav.navbar-nav.navbar-right
        //- User Login Dropdown
        li(dropdown).user
          a(dropdown-toggle, href='#')
            i.fa.fa-user
            span.username {{app.getCurrentUser().name}} &nbsp;
            i.fa.fa-caret-down.small
          ul.dropdown-menu
            li(ui-sref-active='active')
              a(ui-sref='settings')
                | Change password
            li.divider
            li
              a(href='#', ng-click='app.signOut()')
                i.fa.fa-key
                | Sign out
