div.modal-header
  h5.modal-title Confirmation
div.modal-body {{confirmText}}
div.modal-footer
  button.btn.btn-primary(ng-click="$close('ok')") Yes
  button.btn.btn-link(ng-click="$close('cancel')") No
