.row
	.col-md-12
		form.form-horizontal.row-border(name="form", ng-submit="vm.save(form)", accessible-form, novalidate)
			//- name
			.form-group.required(ng-class="vm.getFormClass(form.name)")
				label.col-md-2 Name*
				.col-md-10
					
					input.form-control(type="text", name="name", ng-model="vm.model.name", autocomplete="off", required)
					
				
				.col-md-10.col-md-push-2(ng-if="vm.isInteracted(form.name)", ng-messages="form.name.$error")
					div(ng-messages-include="components/templates/_ng-messages.html")

			//-checked
			.form-group.required(ng-class="vm.getFormClass(form.checked)")
				label.col-md-2 Checked*
				.col-md-10
					
					input.form-control(type="checkbox", name="checked", ng-model="vm.model.checked", autocomplete="off")
					
				
				.col-md-10.col-md-push-2(ng-if="vm.isInteracted(form.checked)", ng-messages="form.checked.$error")
					div(ng-messages-include="components/templates/_ng-messages.html")

			

			.form-group
				.col-md-offset-2.col-md-10
					button.btn.btn-primary.btn-lg(type='submit', ng-disabled='vm.loading || form.$pristine')
						span(ng-if='vm.loading')
							i.fa.fa-circle-o-notch.fa-spin
							|  Saving..
						span(ng-if='!vm.loading') Save
