.row
	.col-md-12
		form.form-horizontal.row-border(name="form", ng-submit="vm.save(form)", accessible-form, novalidate)
			//- name
			.form-group.required(ng-class="vm.getFormClass(form.name)")
				label.col-md-2 Name*
				.col-md-10
					
					input.form-control(type="text", name="name", ng-model="vm.model.name", autocomplete="off", required)
					
				
				.col-md-10.col-md-push-2(ng-if="vm.isInteracted(form.name)", ng-messages="form.name.$error")
					div(ng-messages-include="components/templates/_ng-messages.html")

			//- qty
			.form-group.required(ng-class="vm.getFormClass(form.qty)")
				label.col-md-2 Qty*
				.col-md-10
					
					input.form-control(type="number", name="qty", ng-model="vm.model.qty", autocomplete="off", required)
					
				
				.col-md-10.col-md-push-2(ng-if="vm.isInteracted(form.qty)", ng-messages="form.qty.$error")
					div(ng-messages-include="components/templates/_ng-messages.html")

			//- materials
			.form-group(ng-class="vm.getFormClass(form.materials)")
				label.col-md-2 Materials
				.col-md-10
					
					input(type="hidden", name="materials", ng-model="vm.model.materials")
					.row
						.col-md-11
							input.form-control(type="text", ng-model="vm.holder.materials", autocomplete="off")
						.col-md-1
							span.input-group-btn
								button.btn.btn-default(type='button', ng-disabled="!vm.holder.materials", ng-click="vm.addMaterials(form)")
									i.glyphicon.glyphicon-plus
					.row
						.col-md-12
							table.table.table-striped.table-responsive(ng-if="vm.model.materials.length > 0")
								thead
									tr
										th.col-md-2 Name
										th
								tbody
									tr(ng-repeat="item in vm.model.materials track by $index")
										td {{item}}
										td.text-right
											.btn-group
												button.btn.btn-sm.btn-danger(ng-click="vm.removeMaterials($index, form)", title="Delete materials")
													i.fa.fa-times
					
				
				.col-md-10.col-md-push-2(ng-if="vm.isInteracted(form.materials)", ng-messages="form.materials.$error")
					div(ng-messages-include="components/templates/_ng-messages.html")

			.form-group
				.col-md-offset-2.col-md-10
					button.btn.btn-primary.btn-lg(type='submit', ng-disabled='vm.loading || form.$pristine')
						span(ng-if='vm.loading')
							i.fa.fa-circle-o-notch.fa-spin
							|  Saving..
						span(ng-if='!vm.loading') Save
