
// ---Table
// table {
//   table-layout: fixed;
//   width: 100%;
//   border-collapse: collapse;
//   border: 1px solid #127097;
// }

thead th:nth-child(1) {
  width: 40%;
}

thead th:nth-child(2) {
  width: 35%;
}

thead th:nth-child(3) {
  width: 25%;
}

thead th:nth-child(4) {
  width: 30%;
}
thead th:nth-child(5) {
  width: 60%;
}
thead th:nth-child(6) {
  width: 50%;
}
thead th:nth-child(7) {
  width: 30%;
}
thead th:nth-child(8) {
  width: 40%;
}

thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
}

thead th{
  text-align: center;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}
// thead, tfoot {
  
//   color: white;
//   text-shadow: 1px 1px 1px black;
// }

// thead th, tfoot th, tfoot td {
//   background: linear-gradient(to bottom, rgba(0,0,0,1.0), rgba(0,0,0,0.5));
//   border: 1px solid #127097;
// }

caption {
  font-family: 'Rock Salt', cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px;
}




h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
  .tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #000066;
  text-transform: uppercase;
}
td{
  padding: 5px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 15px;
  color: #ffffcc;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}

// ----Button
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    color: rgb(28, 184, 65); 
    background: transparent; 
    border: 2px solid rgb(28, 184, 65);
    border-radius: 6px; 
    border: none;      
    color: white;      
    padding: 4px 8px;      
    text-align: center;      
    display: inline-block;      
    font-size: 16px;      
    margin: 4px 2px;      
    -webkit-transition-duration: 0.4s;    
    transition-duration: 0.4s;      
    cursor: pointer;      
    text-decoration: none;      
    text-transform: uppercase;
    background-color: white;       
    color: black;       
    border: 2px solid rgb(28, 184, 65);
}
.button-success:hover{
  background-color: rgb(28, 184, 65);      
  color: white;
}

.button-error {
    color: rgb(255, 77, 77); 
    background: transparent; 
    border: 2px solid rgb(255, 77, 77);
    border-radius: 6px; 
    border: none;      
    color: white;      
    padding: 4px 8px;     
    text-align: center;      
    display: inline-block;      
    font-size: 16px;      
    margin: 4px 2px;      
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;      
    cursor: pointer;      
    text-decoration: none;      
    text-transform: uppercase;
    background-color: white;       
    color: black;       
    border: 2px solid rgb(255, 77, 77);
}
.button-error:hover{
  background-color: rgb(255, 77, 77);      
  color: white;
}

.button-warning {
    color: rgb(255, 204, 102); 
    background: transparent; 
    border: 2px solid rgb(255, 204, 102);
    border-radius: 6px; 
    border: none;      
    color: white;      
    padding: 4px 8px;      
    text-align: center;      
    display: inline-block;      
    font-size: 16px;      
    margin: 4px 2px;      
    -webkit-transition-duration: 0.4s;      
    transition-duration: 0.4s;      
    cursor: pointer;      
    text-decoration: none;      
    text-transform: uppercase;
    background-color: white;       
    color: black;       
    border: 2px solid rgb(255, 204, 102);
}
.button-warning:hover{
  background-color: rgb(255, 204, 102);      
  color: white;
}

.button-secondary {
    color: #0099CC; 
    background: transparent; 
    border: 2px solid #0099CC;
    border-radius: 6px; 
    border: none;      
    color: white;      
    padding: 4px 8px;      
    text-align: center;      
    display: inline-block;      
    font-size: 16px;      
    margin: 4px 2px;      
    -webkit-transition-duration: 0.4s;  
    transition-duration: 0.4s;      
    cursor: pointer;      
    text-decoration: none;      
    text-transform: uppercase;
    background-color: white;       
    color: black;       
    border: 2px solid #008CBA;
}
.button-secondary:hover {      
  background-color: #008CBA;      
  color: white; 
}


.btn {
  background: #eb94d0;
  background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);  
  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);  
  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);  
  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);  
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
  -webkit-border-radius: 28;  
  -moz-border-radius: 28;  
  border-radius: 28px;
  text-shadow: 3px 2px 1px #9daef5;  
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;  
  box-shadow: 6px 5px 24px #666666;
  font-family: Arial;  color: #fafafa;  
  font-size: 11px;  padding: 19px;  
  text-decoration: none;
}

.btn:hover {
  background: #2079b0;
  background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);  
  background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);  
  background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);  
  background-image: -o-linear-gradient(top, #2079b0, #eb94d0);  
  background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
  text-decoration: none;

}