<body>
<div class="container-fluid">
    <table class="tbl-header">
        <thead class="tbl-content">
            <tr><a href="foods/form"><button class="btn">New foods</button></a></tr>
            <tr>
                <th scope="col"><i font-family="Josefin Sans">Food Name</i></th>
                <th scope="col"><i font-family="Josefin Sans">Category</i></th>
                <th scope="col"><i font-family="Josefin Sans">Price</i></th>
                <th scope="col"><i font-family="Josefin Sans">Stock</i></th>
                <th scope="col"><i font-family="sans-serif">Ingredient</i></th>
                <th scope="col"><i font-family="Josefin Sans">Ingredient Stock</i></th>
                <th scope="col"><i font-family="Josefin Sans">Needed</i></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody  *ngFor="let foods of foods" class="tbl-content">
            <tr>
                <td><strong>{{foods.name}}</strong></td>
                <td>{{foods.category}}</td>
                <td>{{foods.price}}</td>
                <td>{{foods.stock}}</td>
                <td><p *ngFor = "let ingredient of foods.ingredient"><span>{{ingredient.ingredient.name}}</span></p></td>
                <td><p *ngFor="let ingredient of foods.ingredient"><span>{{ingredient.ingredient.istock }}</span></p></td>
                <td><p *ngFor="let ingredient of foods.ingredient"><span>{{ingredient.needed}}</span></p></td>
                <td><a href="#"><button class="button-success">View</button></a>
                    <a ><button class="button-secondary">Edit</button></a>
                    <a><button class="button-error">Delete</button></a>
                    </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
