table.table.table-striped.table-responsive
	tbody
		
		
		tr
			th Name
			td
				strong(ng-bind="model.name")
		

		
		tr
			th Stock
			td
				strong(ng-bind="model.istock")
		

		
		
					
		

		
table.table.table-responsive
	tbody
		tr
			th
				p.small Created By: {{model.createdby.name}}
			th
				p.small Created On: {{model.created | date:'dd/MM/yyyy HH:mm:ss a'}}
		tr
			th
				p.small Last Modified By: {{model.updatedby.name}}
			th
				p.small Last Modified On: {{model.updated | date:'dd/MM/yyyy HH:mm:ss a'}}