.row
	.col-md-12
		form.form-horizontal.row-border(name="form", ng-submit="vm.save(form)", accessible-form, novalidate)
			//- name
			.form-group.required(ng-class="vm.getFormClass(form.name)")
				label.col-md-2 Name*
				.col-md-10
					
					input.form-control(type="text", name="name", ng-model="vm.model.name", autocomplete="off", required)
					
				
				.col-md-10.col-md-push-2(ng-if="vm.isInteracted(form.name)", ng-messages="form.name.$error")
					div(ng-messages-include="components/templates/_ng-messages.html")

			//- category
			.form-group.required(ng-class="vm.getFormClass(form.category)")
				label.col-md-2 Category*
				.col-md-10
					
					//- input.form-control(type="text", name="category", ng-model="vm.model.category", autocomplete="off", required)
					select.select.form-control.input-md(name="category", ng-model="vm.model.category")
						option(value="appetizer") Appetizer
						option(value="main") Main Course
						option(value="dessert") Dessert
				
				.col-md-10.col-md-push-2(ng-if="vm.isInteracted(form.category)", ng-messages="form.category.$error")
					div(ng-messages-include="components/templates/_ng-messages.html")

			//- price
			.form-group.required(ng-class="vm.getFormClass(form.price")
				label.col-md-2 Price
				.col-md-10

					input.form-control(type="text", name="price", ng-model="vm.model.price", autocomplete="off", required)


			//- stock
			.form-group.required(ng-class="vm.getFormClass(form.stock")
				label.col-md-2 Stock
				.col-md-10

					input.form-control(type="text", name="stock", ng-model="vm.model.stock", autocomplete="off", required)


			//- //- Needed
			//- .form-group.required(ng-class="vm.getFormClass(form.ingredients")
			//- 	label.col-md-2 Needed Ingredient
			//- 	.col-md-10

			//- 		input.form-control(type="text", name="needed", ng-model="vm.model.needed", autocomplete="off", required)

			//- ingredients
			
			//- select.select.form-control.input-md(name="ingredients", ng-model="vm.model.ingredients")
			//- 			option(value="model.") Beef
			//- 			option(value="bread") Bread
			//- 			option(value="sauce") Sauce
			//- 			option(value="mayo") Mayo
			
			.form-group(ng-class="vm.getFormClass(form.ingredients)")
				label.col-md-2 Ingredients
				.col-md-5
					input(type="hidden", name="ingredients", ng-model="vm.model.ingredients" )
					.row
						.col-md-11
							input.form-control(type="text", ng-model="vm.holder.ingredients", autocomplete="off", typeahead = "ingredient as ingredient.name for ingredient in vm.getIngredient($viewValue)", typeahead-loading="loadingIngredient", typehead-no-results="noResults")
					
				label.col-md-2 Needed ingredient
				.col-md-5
					
					.row
						.col-md-11
							input.form-control(type="text", ng-model="vm.holder.needed", autocomplete="off")
							
						.col-md-1
							span.input-group-btn
								button.btn.btn-default(type='button', ng-disabled="!vm.holder.needed && !vm.holder.ingredients", ng-click="vm.addIngredients(form)")
									i.glyphicon.glyphicon-plus
				.row
					.col-md-12
						table.table.table-striped.table-responsive(ng-if="vm.model.ingredients.length > 0")
							thead
								tr
									th.col-md-2 Ingredients Name
									th.col-md-2 Weight
									th.col-md-2 Needed
									th
							tbody
								tr(ng-repeat="item in vm.model.ingredients track by $index")
									td {{item.ingredient.name}}
									td {{item.ingredient.istock}}
									td {{item.needed}}
									td.text-right
										.input-group-btn
											button.btn.btn-sm.btn-danger(type='button',ng-click="vm.removeIngredients($index, form)", title="Delete ingredients")
										
				
				
				.col-md-10.col-md-push-2(ng-if="vm.isInteracted(form.ingredients)", ng-messages="form.ingredients.$error")
					div(ng-messages-include="components/templates/_ng-messages.html")

			.form-group
				.col-md-offset-2.col-md-10
					button.btn.btn-primary.btn-lg(type='submit', ng-disabled='vm.loading || form.$pristine')
						span(ng-if='vm.loading')
							i.fa.fa-circle-o-notch.fa-spin
							|  Saving..
						span(ng-if='!vm.loading') Save
