table.table.table-striped.table-responsive
	tbody
		tr
			th Todo Code
			td 
				strong {{model.code}}
		
		tr
			th Checked
			td
				strong(ng-bind="model.checked")


		tr
			th NameShow
			td
				strong(ng-bind="model.name")
		

		
					
		

		
table.table.table-responsive
	tbody
		tr
			th
				p.small Created By: {{model.createdby.name}}
			th
				p.small Created On: {{model.created | date:'dd/MM/yyyy HH:mm:ss a'}}
		tr
			th
				p.small Last Modified By: {{model.updatedby.name}}
			th
				p.small Last Modified On: {{model.updated | date:'dd/MM/yyyy HH:mm:ss a'}}