<!DOCTYPE html>
<html  ng-app="myApp" lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="controller.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div ng-controller="myCtrl">
    <h1>Add Item</h1>
    <form ng-submit="addToList(dataInput)">
        <input type="text" ng-model="dataInput" >
        <button type="submit" id="btnAdd">add</button>
    </form>
    <h2>Todo</h2>

    <table>
        <tr ng-hide="trListEditHide">
            <td><input ng-model="listNewInput"></td>
            <td><button ng-click="newInput(listNewInput)">Confirm</button></td>
        </tr>
        <tr ng-hide="trListHide" ng-repeat="doList in list"> 
            <td><input type="checkbox" ng-click="addToComList(doList._id,doList.name,doList.checked,$index)"></td>
            <td>{{doList.name}}</td>
            <td>{{$index}}</td>
            <td><button ng-click="editRow(doList._id, doList.checked,$index)">Edit</button></td>
            <td><button ng-click="deleteRow(doList._id)">Delete</button></td>
        </tr>
    </table>

    <h2>Completed</h2>
    <table>
        <tr ng-hide="trComListEdit">
            <td><input type="text" ng-model="comListNewInput"></td>
            <td><button ng-click="comNewInput(comListNewInput)">Confirm</button></td>
        </tr>
        <tr ng-hide="trComListHide" ng-repeat="doComList in comList">
            <td><input type="checkbox" ng-checked=true ng-click="addToComList(doComList._id,doComList.name,doComList.checked,$index)"></td>
            <td>{{doComList.name}}</td>
            <td><button ng-click="editRow(doComList._id,doComList.checked,$index)">Edit</button></td>
            <td><button ng-click="deleteRow(doComList._id)">Delete</button></td>
        </tr>
    </table>    
    </div>
</body>
</html>