.row
	.col-md-12
		form.form-horizontal.row-border(name="form", ng-submit="vm.save(form)", accessible-form, novalidate)
			//- name
			.form-group.required(ng-class="vm.getFormClass(form.name)")
				label.col-md-2 Name*
				.col-md-10
					
					input.form-control(type="text", name="name", ng-model="vm.model.name", autocomplete="off", required)
					
				
				.col-md-10.col-md-push-2(ng-if="vm.isInteracted(form.name)", ng-messages="form.name.$error")
					div(ng-messages-include="components/templates/_ng-messages.html")


			//- stock
			.form-group.required(ng-class="vm.getFormClass(form.istock")
				label.col-md-2 Stock
				.col-md-10

					input.form-control(type="text", name="istock", ng-model="vm.model.istock", autocomplete="off", required)



			//- ingredients
			
			//- select.select.form-control.input-md(name="ingredients", ng-model="vm.model.ingredients")
			//- 			option(value="model.") Beef
			//- 			option(value="bread") Bread
			//- 			option(value="sauce") Sauce
			//- 			option(value="mayo") Mayo
			
			

			.form-group
				.col-md-offset-2.col-md-10
					button.btn.btn-primary.btn-lg(type='submit', ng-disabled='vm.loading || form.$pristine')
						span(ng-if='vm.loading')
							i.fa.fa-circle-o-notch.fa-spin
							|  Saving..
						span(ng-if='!vm.loading') Save
