<body>
<div class="form">
	<div class="tab-content">
		<form [formGroup]="foodsForm" (ngSubmit)="onSubmit()">

		<div class="top-row">
			<div class="field-wrap">
				<input type="text" class="form-control" id="name" name="name" placeholder="Food Name" required>
				
			</div>


			<div class="field-wrap">
				<div class="box">
				<select class="form-control" formControlName="name" id="category" name="category">
					<option value="appetizer">Appetizer</option>
					<option value="main course">Main Course</option>
					<option value="dessert">Dessert</option>
				</select>
				</div>
			</div>
		</div>

			<div class="field-wrap" >
				<input type="number" formControlName="price" class="form-control" id="price" name="price" placeholder="Food Price">
				
			</div>



			<div class="field-wrap">
				<input type="number" formControlName="stock" class="form-control" id="stock" name="stock" placeholder="stock">
			</div>

			<div class="field-wrap">
				<input type="text" formControlName="ingredient" class="form-control" id="ingredient" name="ingredient" placeholder="ingredient">
			</div>

			<div class="field-wrap">
				<input type="number" formControlName="stock" class="form-control" id="istock" name="istock" placeholder="Ingredient Stock">
			</div>

			<div class="field-wrap">
				<input type="number" formControlName="needed" class="form-control" id="needed" name="needed" placeholder="Needed">
			</div>

			<div class="field-wrap">
				<button type="submit" class="button button-block">Submit</button>
			</div>

		</form>
	</div>
</div>
</body>