.row
	.col-md-12
		table.table.table-striped.table-hover(ng-table="vm.table", show-filter="true")
			tbody(ng-repeat="model in $data")
				tr.align-center
					td( data-title="'Food Code'", filter="{ 'code': 'text' }", sortable="'code'")
						i.blue-color.pad-right.fa.fa-files-o(clipboard, on-copied="copySuccess()" on-error="copyFail(err)",supported="copySupported", text="model.code")
						strong(ng-click="vm.open(model.code, model)")
							a.blue-color {{model.code}}
					
					
					td(data-title="'Name'") 
						strong(ng-bind="model.name")
						

					td(data-title="'Category'") 
						strong(ng-bind="model.category")
					

					td(data-title="'Price'") 
						strong(ng-bind="model.price")
						
					td(data-title="'Stock'") 
						strong(ng-bind="model.stock")
						
					
					td.text-center(data-title="'Ingredients'")
						p(ng-repeat="data in model.ingredients")
							span.label.label-inverse {{data.ingredient.name}}
					
					td.text-center(data-title="'I-Stock'")
						p(ng-repeat="data in model.ingredients")
							span.label.label-inverse {{data.ingredient.istock}}

					td.text-center(data-title="'needed'")
						p(ng-repeat="data in model.ingredients")
							span.label.label-inverse {{data.needed}}
					//- td(data-title="'Created'", sortable="'created'")
					//- 	time(am-time-ago="model.created", datetime="{{model.created}}", title="{{model.created}}")


					td.col-md-2.text-right
						.btn-group
							button.btn.btn-sm.btn-default(ng-click="vm.open(model.code, model)")
								i.fa.fa-eye
							button.btn.btn-sm.btn-info(ng-click="vm.edit(model._id)")
								i.fa.fa-pencil
							button.btn.btn-sm.btn-danger(ng-click="vm.deleteConfirm(model.code, model)")
								i.fa.fa-times

